{
  "openapi": "3.0.3",
  "info": {
    "title": "Api Documentation",
    "description": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://qmmmsgpackage.msghubtmp.qrun.diasoft.ru:80",
      "description": "Inferred Url"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Config Matching Controller"
    },
    {
      "name": "IdList / Список ID БО",
      "description": "REST API для списка ID БО, на которые есть права"
    },
    {
      "name": "Qmmmsgpackage",
      "description": "Msg Package Controller"
    },
    {
      "name": "Qvrnversion",
      "description": "Version Setting Controller"
    },
    {
      "name": "basic-error-controller",
      "description": "Basic Error Controller"
    },
    {
      "name": "digital-q-cache-controller",
      "description": "Digital Q Cache Controller"
    },
    {
      "name": "mock-ctlr-qmmmsgpackage",
      "description": "Qmm Msgpackage Start Unloadprocess Publish Mock Controller"
    },
    {
      "name": "operation-handler",
      "description": "Operation Handler"
    },
    {
      "name": "web-mvc-links-handler",
      "description": "Web Mvc Links Handler"
    }
  ],
  "paths": {
    "/qmmmsgpackage/error": {
      "get": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ModelAndView"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingPUT",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ModelAndView"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingPOST",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ModelAndView"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingDELETE",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ModelAndView"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "options": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingOPTIONS",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ModelAndView"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "head": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingHEAD",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ModelAndView"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingPATCH",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ModelAndView"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "trace": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingTRACE",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ModelAndView"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/BusinessAttributeValue": {
      "post": {
        "tags": [
          "BusinessAttributeValue",
          "Qmmmsgpackage"
        ],
        "summary": "Создание нового экземпляра бизнес-объекта  BusinessAttributeValue",
        "operationId": "qmmCreateBusinessAttributeValueUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessAttributeValueCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessAttributeValue"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/BusinessAttributeValue/{businessAttributeValueId}": {
      "get": {
        "tags": [
          "BusinessAttributeValue",
          "Qmmmsgpackage"
        ],
        "summary": "Получение описания существующего экземпляра бизнес-объекта  BusinessAttributeValue",
        "operationId": "qmmFindBusinessAttributeValueByIdUsingGET",
        "parameters": [
          {
            "name": "businessAttributeValueId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessAttributeValue"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "BusinessAttributeValue",
          "Qmmmsgpackage"
        ],
        "summary": "Изменение существующего экземпляра бизнес-объекта  BusinessAttributeValue",
        "operationId": "qmmUpdateBusinessAttributeValueUsingPUT",
        "parameters": [
          {
            "name": "businessAttributeValueId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessAttributeValue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessAttributeValue"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "BusinessAttributeValue",
          "Qmmmsgpackage"
        ],
        "summary": "Удаление существующего экземпляра бизнес-объекта  BusinessAttributeValue",
        "operationId": "qmmDeleteBusinessAttributeValueUsingDELETE",
        "parameters": [
          {
            "name": "businessAttributeValueId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/BusinessAttributeValues": {
      "get": {
        "tags": [
          "BusinessAttributeValue",
          "Qmmmsgpackage"
        ],
        "summary": "Поиск существующих экземпляров бизнес-объекта  BusinessAttributeValue",
        "operationId": "qmmFindLstBusinessAttributeValueByParamUsingGET",
        "parameters": [
          {
            "name": "businessAttributeValueId",
            "in": "query",
            "description": "PrimaryKey autogenerated",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatBusinessAttributeId",
            "in": "query",
            "description": "Бизнес-атрибут формата (FK)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "formatName",
            "in": "query",
            "description": "Наименование формата",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "msgPackageId",
            "in": "query",
            "description": "Пакет сообщений (FK)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Значение",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page«BusinessAttributeValue»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/permission/checkobjectrights/v1/{objectSysName}": {
      "get": {
        "tags": [
          "IdList / Список ID БО"
        ],
        "summary": "Получение списка ID бизнес-объектов, на которые есть права",
        "operationId": "checkObjectRightsUsingGET",
        "parameters": [
          {
            "name": "objectSysName",
            "in": "path",
            "description": "Системное наименование бизнес-объекта",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "API Exception"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/healthCheck": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Проверяет параметры на соответствие изначальным",
        "operationId": "matchConfigUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigMatchingResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/cache/v1": {
      "get": {
        "tags": [
          "digital-q-cache-controller"
        ],
        "summary": "getCaches",
        "operationId": "getCachesUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/cache/v1/{cache}": {
      "delete": {
        "tags": [
          "digital-q-cache-controller"
        ],
        "summary": "evictCache",
        "operationId": "evictCacheUsingDELETE",
        "parameters": [
          {
            "name": "cache",
            "in": "path",
            "description": "cache",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/FormatBusinessAttribute": {
      "post": {
        "tags": [
          "FormatBusinessAttribute",
          "Qmmmsgpackage"
        ],
        "summary": "Создание нового экземпляра бизнес-объекта  FormatBusinessAttribute",
        "operationId": "qmmCreateFormatBusinessAttributeUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormatBusinessAttributeCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormatBusinessAttribute"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/FormatBusinessAttribute/{formatBusinessAttributeId}": {
      "get": {
        "tags": [
          "FormatBusinessAttribute",
          "Qmmmsgpackage"
        ],
        "summary": "Получение описания существующего экземпляра бизнес-объекта  FormatBusinessAttribute",
        "operationId": "qmmFindFormatBusinessAttributeByIdUsingGET",
        "parameters": [
          {
            "name": "formatBusinessAttributeId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormatBusinessAttribute"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "FormatBusinessAttribute",
          "Qmmmsgpackage"
        ],
        "summary": "Изменение существующего экземпляра бизнес-объекта  FormatBusinessAttribute",
        "operationId": "qmmUpdateFormatBusinessAttributeUsingPUT",
        "parameters": [
          {
            "name": "formatBusinessAttributeId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormatBusinessAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FormatBusinessAttribute"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "FormatBusinessAttribute",
          "Qmmmsgpackage"
        ],
        "summary": "Удаление существующего экземпляра бизнес-объекта  FormatBusinessAttribute",
        "operationId": "qmmDeleteFormatBusinessAttributeUsingDELETE",
        "parameters": [
          {
            "name": "formatBusinessAttributeId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/FormatBusinessAttributes": {
      "get": {
        "tags": [
          "FormatBusinessAttribute",
          "Qmmmsgpackage"
        ],
        "summary": "Поиск существующих экземпляров бизнес-объекта  FormatBusinessAttribute",
        "operationId": "qmmFindLstFormatBusinessAttributeByParamUsingGET",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Наименование бизнес-атрибута",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatBusinessAttributeId",
            "in": "query",
            "description": "PrimaryKey autogenerated",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "formatName",
            "in": "query",
            "description": "Наименование формата",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page«FormatBusinessAttribute»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/Msg/v1": {
      "post": {
        "tags": [
          "Msg",
          "Qmmmsgpackage"
        ],
        "summary": "Создание нового экземпляра бизнес-объекта  Msg",
        "operationId": "qmmCreateMsgUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MsgCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Msg"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/Msg/v1/{msgId}": {
      "get": {
        "tags": [
          "Msg",
          "Qmmmsgpackage"
        ],
        "summary": "Получение описания существующего экземпляра бизнес-объекта  Msg",
        "operationId": "qmmFindMsgByIdUsingGET",
        "parameters": [
          {
            "name": "msgId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Msg"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Msg",
          "Qmmmsgpackage"
        ],
        "summary": "Изменение существующего экземпляра бизнес-объекта  Msg",
        "operationId": "qmmUpdateMsgUsingPUT",
        "parameters": [
          {
            "name": "msgId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Msg"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Msg"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Msg",
          "Qmmmsgpackage"
        ],
        "summary": "Удаление существующего экземпляра бизнес-объекта  Msg",
        "operationId": "qmmDeleteMsgUsingDELETE",
        "parameters": [
          {
            "name": "msgId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/Msgs/v1": {
      "get": {
        "tags": [
          "Msg",
          "Qmmmsgpackage"
        ],
        "summary": "Поиск существующих экземпляров бизнес-объекта  Msg",
        "operationId": "qmmFindLstMsgByParamUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Направление",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatName",
            "in": "query",
            "description": "Наименование формата",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Версия формата",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inDatetime",
            "in": "query",
            "description": "Дата и время создания сообщения",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "$ref": "Error-ModelName{namespace='java.time', name='ZonedDateTime'}"
            }
          },
          {
            "name": "messageBody",
            "in": "query",
            "description": "Текст сообщения",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageType",
            "in": "query",
            "description": "Тип сообщения",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "msgFormatId",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "msgId",
            "in": "query",
            "description": "PrimaryKey autogenerated",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "msgPackageId",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "Номер",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "receiver",
            "in": "query",
            "description": "Адресат",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "description": "Отправитель/Получатель",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Статус",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page«Msg»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/FindLstBroadcastingSheetByParam": {
      "get": {
        "tags": [
          "MsgPackage",
          "Qmmmsgpackage"
        ],
        "summary": "Поиск существующих экземпляров бизнес-объекта MsgPackage за период.  На вход метод получает дату начала и дату окончания поиска. Если дата начала поиска не передана, то отбираются все пакеты сообщений до даты окончания. Для поиска пакетов собщений в зависимости от места хранения необходимо заполнять входящий параметр sourcetype значением 1 или 2(Тип содержимого в теле пакета: 1 - хранение содержимого пакета (по-умолчанию), 2 - метаданные файла (ссылка на файл) в FileStorage) Если атрибут не передан, то поиск осуществляется без учета места хранения. При получении результата можно ограничить количество выводимых обектов на одной странице, для этого необходимо заполнить параметр \"количество объектов на одной странице\". Для получения списка идентификаторов пакетов сообщений необходимо вызвать метод и передать в входящих параметрах: 1) номер страницы  Обязательны для заполнения: Дата окончания или страница(для получения ид пакета сообщений)   Выходные параметры: количество элементов и общее количество страниц или идентификатор пакета сообщений",
        "operationId": "qaegFindLstBroadcastingSheetByParamUsingGET",
        "parameters": [
          {
            "name": "dateStart",
            "in": "query",
            "description": "Дата начала поиска пакетов сообщений. Поиск выполняется по атрибуту createat",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "description": "Дата окончания поиска пакетов сообщений. Поиск выполняется по атрибуту createat",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sourceType",
            "in": "query",
            "description": "Тип содержимого в теле пакета: \"1\" - хранение содержимого пакета (по-умолчанию), \"2\" - метаданные файла (ссылка на файл) в FileStorage",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page«MsgPackageList»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackage/v1": {
      "post": {
        "tags": [
          "MsgPackage",
          "Qmmmsgpackage"
        ],
        "summary": "Создание нового экземпляра бизнес-объекта  MsgPackage",
        "operationId": "qmmCreateMsgPackageUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MsgPackageCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPackage"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackage/v1/{msgPackageId}": {
      "get": {
        "tags": [
          "MsgPackage",
          "Qmmmsgpackage"
        ],
        "summary": "Получение описания существующего экземпляра бизнес-объекта  MsgPackage",
        "operationId": "qmmFindMsgPackageByIdUsingGET",
        "parameters": [
          {
            "name": "msgPackageId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPackage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "MsgPackage",
          "Qmmmsgpackage"
        ],
        "summary": "Изменение существующего экземпляра бизнес-объекта  MsgPackage",
        "operationId": "qmmUpdateMsgPackageUsingPUT",
        "parameters": [
          {
            "name": "msgPackageId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MsgPackage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPackage"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "MsgPackage",
          "Qmmmsgpackage"
        ],
        "summary": "Удаление существующего экземпляра бизнес-объекта  MsgPackage",
        "operationId": "qmmDeleteMsgPackageUsingDELETE",
        "parameters": [
          {
            "name": "msgPackageId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackageSearchBody": {
      "get": {
        "tags": [
          "MsgPackage",
          "Qmmmsgpackage"
        ],
        "summary": "Поиск пакета по телу сообщения",
        "operationId": "qmmMsgPackageSearchBodyUsingGET",
        "parameters": [
          {
            "name": "maskSource",
            "in": "query",
            "description": "Текст содержимого пакета.  Для обозначения продолжения фразы используется символ \"%\"  Пример:  Для поиска сообщения с текстом \"Приказ ФНС России от 23.11.2021 N ЕД-7-15/1013@&#13;\"  В поиск можно ввести:  \"Приказ ФНС России от 23.11.2021 N ЕД-7-15/1013%\" \"%N ЕД-7-15/1013%\" \"%ЕД-7-15/1013@&#13;\"",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "createAtFrom",
            "in": "query",
            "description": "Дата и время формирования с  Если время формирования не было передано, по умолчанию указывается 00:00",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createAtTo",
            "in": "query",
            "description": "Дата и время формирования по  Если время формирования не было передано, по умолчанию указывается 00:00",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "formatName",
            "in": "query",
            "description": "Наименование формата сообщения",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page«MsgPackage»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackages/v1": {
      "get": {
        "tags": [
          "MsgPackage",
          "Qmmmsgpackage"
        ],
        "summary": "Поиск существующих экземпляров бизнес-объекта  MsgPackage",
        "operationId": "qmmFindLstMsgPackageByParamUsingGET",
        "parameters": [
          {
            "name": "branchName",
            "in": "query",
            "description": "Полное наименование филиала",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childCount",
            "in": "query",
            "description": "Количество дочерних пакетов, доступно только для чтения, значение определяется на основании наличия связанных пакетов.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "createAt",
            "in": "query",
            "description": "Дата и время создания пакета",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "$ref": "Error-ModelName{namespace='java.time', name='ZonedDateTime'}"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Адресат",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Направление пакета сообщений. Возможные значения: 0 - Входящий, 1 - Исходящий",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Наименование файла",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatName",
            "in": "query",
            "description": "Наименование формата",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatVersion",
            "in": "query",
            "description": "Версия формата",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "humanTaskId",
            "in": "query",
            "description": "Идентификатор задачи пользователя",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loadRuleName",
            "in": "query",
            "description": "Наименование правила загрузки",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageCount",
            "in": "query",
            "description": "Количество сообщений, доступно только для чтения, значение определяется по количеству связанных сообщений",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "msgBodyCode",
            "in": "query",
            "description": "Кодировка тела сообщения",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "msgFormatId",
            "in": "query",
            "description": "Идентификатор формата",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "msgPackageId",
            "in": "query",
            "description": "PrimaryKey autogenerated",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "msgPackageType",
            "in": "query",
            "description": "Перечисляемый тип пакета. Возможные значения: Пакет, Сообщение",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentMsgPackageId",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "processId",
            "in": "query",
            "description": "Идентификатор последнего запущенного процесса по пакету",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "description": "Отправитель/Получатель",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Тело пакета (содержимое), должно передаваться в формате base64",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceType",
            "in": "query",
            "description": "Тип содержимого в теле пакета: 1 - хранение содержимого пакета (по-умолчанию), 2 - метаданные файла (ссылка на файл) в FileStorage.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Статус пакета сообщений. Возможные значения: Введен, Загружен, Обработан, Обработан с ошибкой, Выгружен, Ошибка выгрузки, Готов к выгрузке",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page«MsgPackage»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/StartLoadProcess/v1/{msgPackageId}": {
      "post": {
        "tags": [
          "MsgPackage",
          "Qmmmsgpackage"
        ],
        "summary": "Запуск процесса обработки загруженного пакета сообщений",
        "operationId": "qmmStartLoadProcessUsingPOST",
        "parameters": [
          {
            "name": "msgPackageId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/dq-message-management/qmmMsgPackage/v1/{msgPackageId}": {
      "get": {
        "tags": [
          "MsgPackage",
          "Qmmmsgpackage"
        ],
        "summary": "Получить тело пакета сообщений",
        "operationId": "qmmMsgPackageUsingGET",
        "parameters": [
          {
            "name": "msgPackageId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DqMsgPackage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackageMovementHistory": {
      "post": {
        "tags": [
          "MsgPackageMovementHistory",
          "Qmmmsgpackage"
        ],
        "summary": "Создание нового экземпляра бизнес-объекта  MsgPackageMovementHistory",
        "operationId": "qmmCreateMsgPackageMovementHistoryUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MsgPackageMovementHistoryCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPackageMovementHistory"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackageMovementHistory/{msgPackageMovementHistoryId}": {
      "get": {
        "tags": [
          "MsgPackageMovementHistory",
          "Qmmmsgpackage"
        ],
        "summary": "Получение описания существующего экземпляра бизнес-объекта MsgPackageMovementHistory",
        "operationId": "qmmFindMsgPackageMovementHistoryByIdUsingGET",
        "parameters": [
          {
            "name": "msgPackageMovementHistoryId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPackageMovementHistory"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "MsgPackageMovementHistory",
          "Qmmmsgpackage"
        ],
        "summary": "Удаление существующего экземпляра бизнес-объекта MsgPackageMovementHistory",
        "operationId": "qmmDeleteMsgPackageMovementHistoryUsingDELETE",
        "parameters": [
          {
            "name": "msgPackageMovementHistoryId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackageMovementHistorys": {
      "get": {
        "tags": [
          "MsgPackageMovementHistory",
          "Qmmmsgpackage"
        ],
        "summary": "Поиск существующих экземпляров бизнес-объекта MsgPackageMovementHistory",
        "operationId": "qmmFindLstMsgPackageMovementHistoryByParamUsingGET",
        "parameters": [
          {
            "name": "channelType",
            "in": "query",
            "description": "Вид канала обмена",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comment",
            "in": "query",
            "description": "Описание",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createAt",
            "in": "query",
            "description": "Дата, время формирования записи",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "$ref": "Error-ModelName{namespace='java.time', name='ZonedDateTime'}"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Направление обмена (KV)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "msgPackageId",
            "in": "query",
            "description": "Пакет сообщений (FK)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "msgPackageMovementHistoryId",
            "in": "query",
            "description": "PrimaryKey autogenerated",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ruleName",
            "in": "query",
            "description": "Наименование правила",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Адрес источника данных/доставки",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page«MsgPackageMovementHistory»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackageRelations": {
      "post": {
        "tags": [
          "MsgPackageRelations",
          "Qmmmsgpackage"
        ],
        "summary": "Создание нового экземпляра бизнес-объекта  MsgPackageRelations",
        "operationId": "qmmCreateMsgPackageRelationsUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MsgPackageRelationsCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPackageRelations"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackageRelations/{msgPackageRelationId}": {
      "get": {
        "tags": [
          "MsgPackageRelations",
          "Qmmmsgpackage"
        ],
        "summary": "Получение описания существующего экземпляра бизнес-объекта  MsgPackageRelations",
        "operationId": "qmmFindMsgPackageRelationsByIdUsingGET",
        "parameters": [
          {
            "name": "msgPackageRelationId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPackageRelations"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "MsgPackageRelations",
          "Qmmmsgpackage"
        ],
        "summary": "Изменение существующего экземпляра бизнес-объекта  MsgPackageRelations",
        "operationId": "qmmUpdateMsgPackageRelationsUsingPUT",
        "parameters": [
          {
            "name": "msgPackageRelationId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MsgPackageRelations"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPackageRelations"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "MsgPackageRelations",
          "Qmmmsgpackage"
        ],
        "summary": "Удаление существующего экземпляра бизнес-объекта  MsgPackageRelations",
        "operationId": "qmmDeleteMsgPackageRelationsUsingDELETE",
        "parameters": [
          {
            "name": "msgPackageRelationId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPackageRelationss": {
      "get": {
        "tags": [
          "MsgPackageRelations",
          "Qmmmsgpackage"
        ],
        "summary": "Поиск существующих экземпляров бизнес-объекта  MsgPackageRelations",
        "operationId": "qmmFindLstMsgPackageRelationsByParamUsingGET",
        "parameters": [
          {
            "name": "boProfileId",
            "in": "query",
            "description": "Профиль бизнес-объекта (FK)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Описание связи пакета сообщений",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directionKind",
            "in": "query",
            "description": "Вид направления связи (KV)  Возможные значения: \"1\" - Родитель (Основание для создания пакета) \"2\" - Дочерний (Создан на основе пакета)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Дата окончания действия",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "$ref": "Error-ModelName{namespace='java.time', name='LocalDate'}"
            }
          },
          {
            "name": "externalObjectId",
            "in": "query",
            "description": "Внешний идентификатор бизнес-объекта во внешней системе",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalSystemId",
            "in": "query",
            "description": "Идентификатор внешней система (FK). Указывается если владелец бизнес-объекта - внешняя система и не имеет профиля PBC",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "msgPackageId",
            "in": "query",
            "description": "Идентификатор пакета сообщений (FK)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "msgPackageRelationId",
            "in": "query",
            "description": "PrimaryKey autogenerated",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentMsgPackageRelationId",
            "in": "query",
            "description": "Идентификатор родительской связи пакета сообщений с бизнес-объектом",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pbcProfileId",
            "in": "query",
            "description": "Идентификатор профиля PBC (FK). Указывается, если система владелец бизнес-объекта имеет профиль PBC",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Дата начала действия",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "$ref": "Error-ModelName{namespace='java.time', name='LocalDate'}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page«MsgPackageRelations»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPkgPrtcl/v1": {
      "post": {
        "tags": [
          "MsgPkgPrtcl",
          "Qmmmsgpackage"
        ],
        "summary": "Создание нового экземпляра бизнес-объекта  MsgPkgPrtcl",
        "operationId": "qmmCreateMsgPkgPrtclUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MsgPkgPrtclCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPkgPrtcl"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPkgPrtcl/v1/{msgPkgPrtclId}": {
      "get": {
        "tags": [
          "MsgPkgPrtcl",
          "Qmmmsgpackage"
        ],
        "summary": "Получение описания существующего экземпляра бизнес-объекта  MsgPkgPrtcl",
        "operationId": "qmmFindMsgPkgPrtclByIdUsingGET",
        "parameters": [
          {
            "name": "msgPkgPrtclId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPkgPrtcl"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "MsgPkgPrtcl",
          "Qmmmsgpackage"
        ],
        "summary": "Изменение существующего экземпляра бизнес-объекта  MsgPkgPrtcl",
        "operationId": "qmmUpdateMsgPkgPrtclUsingPUT",
        "parameters": [
          {
            "name": "msgPkgPrtclId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MsgPkgPrtcl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsgPkgPrtcl"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "MsgPkgPrtcl",
          "Qmmmsgpackage"
        ],
        "summary": "Удаление существующего экземпляра бизнес-объекта  MsgPkgPrtcl",
        "operationId": "qmmDeleteMsgPkgPrtclUsingDELETE",
        "parameters": [
          {
            "name": "msgPkgPrtclId",
            "in": "path",
            "description": "PrimaryKey autogenerated",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/MsgPkgPrtcls/v1": {
      "get": {
        "tags": [
          "MsgPkgPrtcl",
          "Qmmmsgpackage"
        ],
        "summary": "Поиск существующих экземпляров бизнес-объекта  MsgPkgPrtcl",
        "operationId": "qmmFindLstMsgPkgPrtclByParamUsingGET",
        "parameters": [
          {
            "name": "errorCode",
            "in": "query",
            "description": "Код ошибки. Может быть 0, если сообщение информационного характера",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "errorMessage",
            "in": "query",
            "description": "Текст сообщения",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Field set for return",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Идентификатор сообщения, может быть 0, если записывается протокол обработки пакета",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "msgPackageId",
            "in": "query",
            "description": "Идентификатор пакета, всегда необходимо передавать",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "msgPkgPrtclId",
            "in": "query",
            "description": "PrimaryKey autogenerated",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "protocolAt",
            "in": "query",
            "description": "Дата и время записи",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "$ref": "Error-ModelName{namespace='java.time', name='ZonedDateTime'}"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc)",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page«MsgPkgPrtcl»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/actuator/beans": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/vnd.spring-boot.actuator.v3+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/vnd.spring-boot.actuator.v2+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/qmmmsgpackage/actuator/bindings": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
[...]
